.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition-duration: 0.2s;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  &:disabled,
  &[disabled] {
    border: 1px solid var(--disabled-color);
    background-color: var(--bg-disabled-color);
    color: var(--disabled-color);
    cursor: default;
  }
}
